In [1]:
person = {
    "first": ["Hari", "Carey"],
    "last": ["Aineri", "Schafer"],
    "email": ["HariAineri@gmail.com", "CareySchafer@gmail.com"]
}

In [2]:
person

{'first': ['Hari', 'Carey'],
 'last': ['Aineri', 'Schafer'],
 'email': ['HariAineri@gmail.com', 'CareySchafer@gmail.com']}

In [3]:
import pandas as pd

In [33]:
df = pd.DataFrame(data=person)

In [32]:
df

   first     last                   email
0   Hari   Aineri    HariAineri@gmail.com
1  Carey  Schafer  CareySchafer@gmail.com

In [6]:
len(df)

2

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df['email']

0      HariAineri@gmail.com
1    CareySchafer@gmail.com
Name: email, dtype: object

In [9]:
type(df['email'])

pandas.core.series.Series

In [10]:
df.count

<bound method DataFrame.count of    first     last                   email
0   Hari   Aineri    HariAineri@gmail.com
1  Carey  Schafer  CareySchafer@gmail.com>

In [11]:
help(df.count)

Help on method count in module pandas.core.frame:

count(axis: 'Axis' = 0, numeric_only: 'bool' = False) method of pandas.core.frame.DataFrame instance
    Count non-NA cells for each column or row.

    The values `None`, `NaN`, `NaT`, ``pandas.NA`` are considered NA.

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, default 0
        If 0 or 'index' counts are generated for each column.
        If 1 or 'columns' counts are generated for each row.
    numeric_only : bool, default False
        Include only `float`, `int` or `boolean` data.

    Returns
    -------
    Series
        For each column/row the number of non-NA/null entries.

    See Also
    --------
    Series.count: Number of non-NA elements in a Series.
    DataFrame.value_counts: Count unique combinations of columns.
    DataFrame.shape: Number of DataFrame rows and columns (including NA
        elements).
    DataFrame.isna: Boolean same-sized DataFrame showing places of NA
        elements.

    Examples
    --------
    Constructing DataFrame from a dictionary:

    >>> df = pd.DataFrame({"Person":
    ...                    ["John", "Myla", "Lewis", "John", "Myla"],
    ...                    "Age": [24., np.nan, 21., 33, 26],
    ...                    "Single": [False, True, True, True, False]})
    >>> df
       Person   Age  Single
    0    John  24.0   False
    1    Myla   NaN    True
    2   Lewis  21.0    True
    3    John  33.0    True
    4    Myla  26.0   False

    Notice the uncounted NA values:

    >>> df.count()
    Person    5
    Age       4
    Single    5
    dtype: int64

    Counts for each **row**:

    >>> df.count(axis='columns')
    0    3
    1    2
    2    3
    3    3
    4    3
    dtype: int64

In [12]:
df.count()

first    2
last     2
email    2
dtype: int64

In [13]:
df

   first     last                   email
0   Hari   Aineri    HariAineri@gmail.com
1  Carey  Schafer  CareySchafer@gmail.com

In [14]:
df["email"]

0      HariAineri@gmail.com
1    CareySchafer@gmail.com
Name: email, dtype: object

In [15]:
df[['last', 'email']]

      last                   email
0   Aineri    HariAineri@gmail.com
1  Schafer  CareySchafer@gmail.com

In [16]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [17]:
df.iloc[[0, 1], 2]

0      HariAineri@gmail.com
1    CareySchafer@gmail.com
Name: email, dtype: object

In [18]:
df.loc[[0, 1], 'email']

0      HariAineri@gmail.com
1    CareySchafer@gmail.com
Name: email, dtype: object

In [19]:
df.loc[[0, 1], ['last', 'email']]

      last                   email
0   Aineri    HariAineri@gmail.com
1  Schafer  CareySchafer@gmail.com

In [34]:
df.set_index('email', inplace=True)

In [21]:
df.index

Index(['HariAineri@gmail.com', 'CareySchafer@gmail.com'], dtype='object', name='email')

In [22]:
df

                        first     last
email
HariAineri@gmail.com     Hari   Aineri
CareySchafer@gmail.com  Carey  Schafer

In [23]:
df.set_index('first', inplace=True)

In [24]:
df

          last
first
Hari    Aineri
Carey  Schafer

In [25]:
df.index

Index(['Hari', 'Carey'], dtype='object', name='first')

In [26]:
df

          last
first
Hari    Aineri
Carey  Schafer

In [27]:
df.count()

last    2
dtype: int64

In [35]:
df.loc['HariAineri@gmail.com', 'last']

'Aineri'

In [36]:
df.reset_index(inplace=True)

In [37]:
df

                    email  first     last
0    HariAineri@gmail.com   Hari   Aineri
1  CareySchafer@gmail.com  Carey  Schafer

In [ ]:
df.loc[0]

In [ ]:
df.sort_index(ascending=False)

In [ ]:
type(df['email'])

In [39]:
filt = (df['last'] == 'Aineri')

In [40]:
filt

0     True
1    False
Name: last, dtype: bool

In [41]:
df[filt]

                  email first    last
0  HariAineri@gmail.com  Hari  Aineri

In [42]:
df.loc[filt, 'email']

0    HariAineri@gmail.com
Name: email, dtype: object

In [ ]:
filt = (df['last'] == 'Aineri') & (df['first'] == 'Hari')

In [ ]:
filt

In [ ]:
df.loc[filt]