In [1]:
person = {
    "first": ["Hari", "Carey"],
    "last": ["Aineri", "Schafer"],
    "email": ["HariAineri@gmail.com", "CareySchafer@gmail.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(person)

In [4]:
df

   first     last                   email
0   Hari   Aineri    HariAineri@gmail.com
1  Carey  Schafer  CareySchafer@gmail.com

In [5]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [6]:
df.columns = ['first_name', 'last_name', 'email']

In [7]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [8]:
df

  first_name last_name                   email
0       Hari    Aineri    HariAineri@gmail.com
1      Carey   Schafer  CareySchafer@gmail.com

In [9]:
df.columns = [x.upper() for x in df.columns]
df

  FIRST_NAME LAST_NAME                   EMAIL
0       Hari    Aineri    HariAineri@gmail.com
1      Carey   Schafer  CareySchafer@gmail.com

In [10]:
df.columns = [x.lower() for x in df.columns]
df

  first_name last_name                   email
0       Hari    Aineri    HariAineri@gmail.com
1      Carey   Schafer  CareySchafer@gmail.com

In [11]:
df.columns = df.columns.str.replace(' ', '_')
df

  first_name last_name                   email
0       Hari    Aineri    HariAineri@gmail.com
1      Carey   Schafer  CareySchafer@gmail.com

In [12]:
df.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)

In [13]:
df

   first     last                   email
0   Hari   Aineri    HariAineri@gmail.com
1  Carey  Schafer  CareySchafer@gmail.com

In [14]:
df.loc[1] = ['Carey', 'SchaFer', 'CareySchaFer@email.com']

In [15]:
df

   first     last                   email
0   Hari   Aineri    HariAineri@gmail.com
1  Carey  SchaFer  CareySchaFer@email.com

In [16]:
df.loc[1, 'last'] = 'Schafer'
df.loc[1, 'email'] = 'CareySchafer@email.com'

In [17]:
df

   first     last                   email
0   Hari   Aineri    HariAineri@gmail.com
1  Carey  Schafer  CareySchafer@email.com

In [18]:
df.loc[1, ['last', 'email']] = ['Schafer', 'CareySchafer@email.com']

In [19]:
df

   first     last                   email
0   Hari   Aineri    HariAineri@gmail.com
1  Carey  Schafer  CareySchafer@email.com

In [20]:
df.at[1, 'last'] = 'Schafer'

In [21]:
df

   first     last                   email
0   Hari   Aineri    HariAineri@gmail.com
1  Carey  Schafer  CareySchafer@email.com

In [22]:
filt = (df['email'] == 'CareySchafer@email.com')
df[filt]['last'] = 'Schafer'

/var/folders/fs/bcwgzbxx67v_spfgx8d1s8640000gn/T/ipykernel_1235/1215697026.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]['last'] = 'Schafer'

In [23]:
filt = (df['email'] == 'CareySchafer@email.com')
df.loc[filt, 'last'] = 'Schafer'
df

   first     last                   email
0   Hari   Aineri    HariAineri@gmail.com
1  Carey  Schafer  CareySchafer@email.com

In [24]:
df['email'] = df['email'].str.lower()
df

   first     last                   email
0   Hari   Aineri    hariaineri@gmail.com
1  Carey  Schafer  careyschafer@email.com

In [25]:
df['email'].apply(len)

0    20
1    22
Name: email, dtype: int64

In [26]:
def update_email(email):
    return email.upper()

In [27]:
emails = df['email'].apply(update_email)

In [28]:
emails

0      HARIAINERI@GMAIL.COM
1    CAREYSCHAFER@EMAIL.COM
Name: email, dtype: object

In [29]:
for email in emails:
    print(email)

HARIAINERI@GMAIL.COM
CAREYSCHAFER@EMAIL.COM

In [30]:
df['email'] = df['email'].apply(update_email)

In [31]:
df

   first     last                   email
0   Hari   Aineri    HARIAINERI@GMAIL.COM
1  Carey  Schafer  CAREYSCHAFER@EMAIL.COM

In [32]:
df['email'] = df['email'].apply(lambda x: x.lower())

In [33]:
df

   first     last                   email
0   Hari   Aineri    hariaineri@gmail.com
1  Carey  Schafer  careyschafer@email.com

In [34]:
df.apply(len)

first    2
last     2
email    2
dtype: int64

In [35]:
for i in df.apply(len):
    print(i)

2
2
2

In [36]:
len(df['email'])

2

In [37]:
df.apply(len, axis='columns')

0    3
1    3
dtype: int64

In [38]:
df.apply(pd.Series.min)

first                     Carey
last                     Aineri
email    careyschafer@email.com
dtype: object

In [39]:
df.apply(lambda x: x.min())

first                     Carey
last                     Aineri
email    careyschafer@email.com
dtype: object

In [40]:
df.apply(pd.Series.max)

first                    Hari
last                  Schafer
email    hariaineri@gmail.com
dtype: object

In [41]:
df.apply(lambda x: x.max())

first                    Hari
last                  Schafer
email    hariaineri@gmail.com
dtype: object

In [42]:
df.applymap(len)

/var/folders/fs/bcwgzbxx67v_spfgx8d1s8640000gn/T/ipykernel_1235/1485728669.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(len)

   first  last  email
0      4     6     20
1      5     7     22

In [43]:
df.map(len)

   first  last  email
0      4     6     20
1      5     7     22

In [44]:
df.map(len)['first'].apply(lambda x : x * x)

0    16
1    25
Name: first, dtype: int64

In [45]:
df.map(len)['first'].map(lambda x : x * x)

0    16
1    25
Name: first, dtype: int64

In [46]:
df.map(len).applymap(lambda x: x * 2)

/var/folders/fs/bcwgzbxx67v_spfgx8d1s8640000gn/T/ipykernel_1235/1607239100.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.map(len).applymap(lambda x: x * 2)

   first  last  email
0      8    12     40
1     10    14     44

In [47]:
df.map(len).map(lambda x: x * 2)

   first  last  email
0      8    12     40
1     10    14     44

In [48]:
df.applymap(str.lower)

/var/folders/fs/bcwgzbxx67v_spfgx8d1s8640000gn/T/ipykernel_1235/357608748.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(str.lower)

   first     last                   email
0   hari   aineri    hariaineri@gmail.com
1  carey  schafer  careyschafer@email.com

In [49]:
df.map(str.lower)

   first     last                   email
0   hari   aineri    hariaineri@gmail.com
1  carey  schafer  careyschafer@email.com

In [50]:
df['first'].map({'Hari': 'hari'})

0    hari
1     NaN
Name: first, dtype: object

In [51]:
df['first'].replace({'Hari': 'hari'})

0     hari
1    Carey
Name: first, dtype: object