In [1]:
person = {
    "first": ["Hari", "Carey"],
    "last": ["Aineri", "Schafer"],
    "email": ["HariAineri@gmail.com", "CareySchafer@gmail.com"]
}

In [22]:
person

{'first': ['Hari', 'Carey'],
 'last': ['Aineri', 'Schafer'],
 'email': ['HariAineri@gmail.com', 'CareySchafer@gmail.com']}

In [2]:
import pandas as pd

In [11]:
df = pd.DataFrame(data=person)

TypeError: DataFrame.__init__() got an unexpected keyword argument 'label_row'

In [44]:
df

   first     last                   email
0   Hari   Aineri    HariAineri@gmail.com
1  Carey  Schafer  CareySchafer@gmail.com

In [24]:
len(df)

2

In [25]:
type(df)

pandas.core.frame.DataFrame

In [26]:
df['email']

1      HariAineri@gmail.com
2    CareySchafer@gmail.com
Name: email, dtype: object

In [27]:
type(df['email'])

pandas.core.series.Series

In [28]:
df.count

<bound method DataFrame.count of    first     last                   email
1   Hari   Aineri    HariAineri@gmail.com
2  Carey  Schafer  CareySchafer@gmail.com>

In [29]:
help(df.count)

Help on method count in module pandas.core.frame:

count(axis: 'Axis' = 0, numeric_only: 'bool' = False) method of pandas.core.frame.DataFrame instance
    Count non-NA cells for each column or row.

    The values `None`, `NaN`, `NaT`, ``pandas.NA`` are considered NA.

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, default 0
        If 0 or 'index' counts are generated for each column.
        If 1 or 'columns' counts are generated for each row.
    numeric_only : bool, default False
        Include only `float`, `int` or `boolean` data.

    Returns
    -------
    Series
        For each column/row the number of non-NA/null entries.

    See Also
    --------
    Series.count: Number of non-NA elements in a Series.
    DataFrame.value_counts: Count unique combinations of columns.
    DataFrame.shape: Number of DataFrame rows and columns (including NA
        elements).
    DataFrame.isna: Boolean same-sized DataFrame showing places of NA
        elements.

    Examples
    --------
    Constructing DataFrame from a dictionary:

    >>> df = pd.DataFrame({"Person":
    ...                    ["John", "Myla", "Lewis", "John", "Myla"],
    ...                    "Age": [24., np.nan, 21., 33, 26],
    ...                    "Single": [False, True, True, True, False]})
    >>> df
       Person   Age  Single
    0    John  24.0   False
    1    Myla   NaN    True
    2   Lewis  21.0    True
    3    John  33.0    True
    4    Myla  26.0   False

    Notice the uncounted NA values:

    >>> df.count()
    Person    5
    Age       4
    Single    5
    dtype: int64

    Counts for each **row**:

    >>> df.count(axis='columns')
    0    3
    1    2
    2    3
    3    3
    4    3
    dtype: int64

In [30]:
df.count()

first    2
last     2
email    2
dtype: int64

In [31]:
df

   first     last                   email
1   Hari   Aineri    HariAineri@gmail.com
2  Carey  Schafer  CareySchafer@gmail.com

In [38]:
df["email"]

1      HariAineri@gmail.com
2    CareySchafer@gmail.com
Name: email, dtype: object

In [43]:
df[['last', 'email']]

      last                   email
1   Aineri    HariAineri@gmail.com
2  Schafer  CareySchafer@gmail.com

In [44]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [60]:
df.iloc[[0, 1], 2]

0      HariAineri@gmail.com
1    CareySchafer@gmail.com
Name: email, dtype: object

In [61]:
df.loc[[0, 1], 'email']

0      HariAineri@gmail.com
1    CareySchafer@gmail.com
Name: email, dtype: object

In [62]:
df.loc[[0, 1], ['last', 'email']]

      last                   email
0   Aineri    HariAineri@gmail.com
1  Schafer  CareySchafer@gmail.com

In [46]:
df.set_index('email', inplace=True)

In [34]:
df.index

Index(['HariAineri@gmail.com', 'CareySchafer@gmail.com'], dtype='object', name='email')

In [35]:
df

                        first     last
email
HariAineri@gmail.com     Hari   Aineri
CareySchafer@gmail.com  Carey  Schafer

In [36]:
df.set_index('first', inplace=True)

In [37]:
df

          last
first
Hari    Aineri
Carey  Schafer

In [47]:
df.index

Index(['HariAineri@gmail.com', 'CareySchafer@gmail.com'], dtype='object', name='email')

In [48]:
df

                        first     last
email
HariAineri@gmail.com     Hari   Aineri
CareySchafer@gmail.com  Carey  Schafer

In [40]:
df.count()

last    2
dtype: int64

In [51]:
df.loc['HariAineri@gmail.com', 'last']

'Aineri'

In [52]:
df.reset_index(inplace=True)

In [53]:
df

                    email  first     last
0    HariAineri@gmail.com   Hari   Aineri
1  CareySchafer@gmail.com  Carey  Schafer

In [54]:
df.loc[0]

email    HariAineri@gmail.com
first                    Hari
last                   Aineri
Name: 0, dtype: object

In [57]:
df.sort_index(ascending=False)

                    email  first     last
1  CareySchafer@gmail.com  Carey  Schafer
0    HariAineri@gmail.com   Hari   Aineri

In [6]:
type(df['email'])

pandas.core.series.Series